:root {
    /* ### Primary */
    --txt-2: hsl(0, 36%, 70%);
    --provide-email: hsl(0, 93%, 68%);
    --title-2: black;

    /* ### Neutral */
    --txt-1: hsl(0, 6%, 24%);

    /* ### Gradients */
    --bg: linearGradient 135deg,
        from hsl(0, 0%, 100%),
        to hsl(0, 100%, 98%);

    --button: linearGradient 135deg,
        from hsl(0, 80%, 86%),
        to hsl(0, 74%, 74%);

    --all-font: 'Josefin Sans', sans-serif;
}

/* mobile layout first */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: var(--all-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    padding: 2.5rem 0 2.5rem 2.5rem;
}

.desk-img {
    display: none;
}

.mob-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.txt-container {
    padding-bottom: 6.25rem;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 2rem 0;
}

.title-1 {
    color: var(--txt-2);
    font-family: var(--all-font);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .5rem;
}

.title-2 {
    color: var(--title-2);
    font-family: var(--all-font);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    letter-spacing: .7rem;
}

.intro {
    color: var(--txt-2);
    font-family: var(--all-font);
    text-align: center;
    padding: 0 3rem 1rem 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.form {
    display: flex;
    position: relative;
    padding: 0 2rem 0 2rem;
    margin-bottom: 0.5rem;
}

.form-input {
    height: 60px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid var(--txt-2);
    padding-left: 25px;
    font-size: 15px;
}

input::placeholder {
    color: var(--txt-2)
}

form-input:focus {
    border-color: red;
}

.submit {
    height: 62px;
    position: absolute;
    margin-right: 1.5rem;
    right: 0px;
    width: 80px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 15px 40px 4px rgba(206, 151, 151, 0.64);
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.error-icon-hidden {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
}

.error-txt-hidden p {
    position: absolute;
    font-family: var(--all-font);
    color: var(--provide-email);
    padding: .5rem 0 3rem 3.5rem;
}

.hide {
    display: none;
}

/* .attribution {
    position: relative;
    bottom: 0;
    align-self: center;
} */

/* mobile image hides */
@media (min-width: 650px) {

    .mob-img {
        display: none;
    }
}

/* desktop */
@media screen and (min-width: 650px) {

    body {
        display: flex;
        flex-direction: row;
        height: 100vh;
        text-overflow: ellipsis
    }

    .img-container {
        order: 3;
    }

    .desk-img {
        display: flex;
    }

    .txt-container {
        background-image: url(images/logo.svg);
        background-repeat: no-repeat;
        background-position: bottom 32.5rem left 8rem;
        padding: 6.25rem 5rem 0 5rem;
    }

    .title {
        display: block;
        max-width: 31.25rem;
        padding-left: 3rem;
    }

    .intro {
        text-align: left;
        padding-bottom: 3rem;
    }

    .logo {
        display: none;
    }

}